
/* Header */
.header {
    display: flex;
    padding: 2rem 2.5rem;
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: rgba(10, 25, 47, 1);
    transition: transform 0.2s;
}

/* Logo */
.logo__container {
    flex: 1;
}

.logo__image {
    width: 3rem;
    height: 3rem;
    color: var(--primary-green);
}

/* Navigation Container */
.navigation__container {
    display: none;
    align-items: center;
}

.navigation__links {
    display: flex;
    align-items: center;
    margin-right: 2.5rem;
}

.navigation__links > * + * {
    margin-left: 2.5rem;
}

/* Navigation Link */
.link__item {
    list-style: none;
}

.link__name {
    color: #ccd6f6;
    text-decoration: none;
}

.link__name:hover {
    color: var(--primary-green);
}

/* Resume CTA */
.resume__link {
    border: 1px solid var(--primary-green);
    color: var(--primary-green);
    border-radius: 0.375rem;
    padding: 0.75rem 1rem;
    text-decoration: none;
}

.resume__link:hover {
    color: #0a192f;
    background-color: var(--primary-green);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

/* Mobile: Navigation */
.mobile__navigation {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.menu__icon {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--primary-green);
}

.header--hidden {
    transform: translateY(-100%);
}

/* Media Queries */
@media (min-width: 768px) {
    .navigation__container {
        display: flex;
    }
}

@media (min-width: 768px) {
    .mobile__navigation {
        display: none;
    }
}